<!-- <div>
  <h3 class="bg-primary text-center text-white p-2" style="position: relative;">
    Coupon discount
    <button class="btn btn-secondary btn-sm btncross" routerLink="/store">x</button>
  </h3>
</div>

<h2>Coupon code</h2>
<button class="btn btn-success btn-sm float-right" (click)="couponapplied()">
Summer10
</button> -->

<br>
<br>
<div class="d-flex aligns-items-center justify-content-center card text-center w-75 mx-auto">
  <button class="btn btn-secondary btn-sm btncross" routerLink="/store">x</button>
  <div class="card-header">

    Coupon Discount
  </div>
  <div class="card-body">
    <h5 class="card-title">Coupon Code:</h5>
    <p class="card-text">Use this coupon Code for getting 10% Discount in your Purchase.</p>
    <button class="btn btn-success btn-sm float-right" (click)="couponapplied()">SummerSale10</button>
  </div>
</div>
